<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!--
		<add name="MasterDatabase" connectionString="Server=Catwoman;Username=ADO_cat;Password=F0undant;Database=glm_catwoman_master;Port=3306;CharSet=utf8;Pooling=true;Max Pool Size=5;" />
		<add name="LogConnection" connectionString="Server=Catwoman;Username=ADO_logs;Password=lumb3rj4ck;Database=glm_logs;Port=3306;CharSet=utf8;Pooling=true;Max Pool Size=20;" />
	  -->
		
		<add name="MasterDatabase" connectionString="Server=Catwoman;Username=ADO_cat;Password=F0undant;Database=glm_shannon;Port=3306;CharSet=utf8;Pooling=true;Max Pool Size=5;" />
		<add name="LogConnection" connectionString="Server=Catwoman;Username=ADO_logs;Password=lumb3rj4ck;Database=glm_logs;Port=3306;CharSet=utf8;Pooling=true;Max Pool Size=20;" />


	</connectionStrings>
	
</configuration>