<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="FileMaskedConfig" type="System.Configuration.DictionarySectionHandler" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="All" />
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logger\logger\FileToolLog.txt" />
      <threshold value="ALL" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd hh:mm:ss} – %m%n" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="MasterDatabase" connectionString="Server=Catwoman;Username=ADO_cat;Password=F0undant;Database=filetool;Port=3306;CharSet=utf8;Pooling=true;Max Pool Size=5;" />
    <add name="LogConnection" connectionString="Server=Catwoman;Username=ADO_logs;Password=lumb3rj4ck;Database=glm_logs;Port=3306;CharSet=utf8;Pooling=true;Max Pool Size=20;" />
    <!--
		<add name="MasterDatabase" connectionString="Server=Catwoman;Username=ADO_cat;Password=F0undant;Database=glm_shannon;Port=3306;CharSet=utf8;Pooling=true;Max Pool Size=5;" />
		<add name="LogConnection" connectionString="Server=Catwoman;Username=ADO_logs;Password=lumb3rj4ck;Database=glm_logs;Port=3306;CharSet=utf8;Pooling=true;Max Pool Size=20;" />
		-->
  </connectionStrings>
  <appSettings>
    <add key="BaseUploadDirectory" value="C:\" />
    <!-- More to come -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <FileMaskedConfig>
    <add key="All Files" value="*.*" />
    <add key="Archives" value="*.log|*.mht|*.rar|*.webarchive|*.zip" />
    <add key="Audio/Video" value="*.3GP|*.abm|*.MOV|*.mp3|*.wmv" />
    <add key="Docs" value="*.cwk|*.doc|*.docx|*.dot|*.dotx|*.eml|*.fdf|*.htm|*.html|*.indd|*.msg|*.numbers|*.odc|*.ods|*.odt|*.p7s|*.pages|*.pdf|*.prn|*.pub|*.rtf|*.txt|*.wpd|*.wps|*.xls|*.xlsb|*.xlsx|*.xlt|*.xps" />
    <add key="Images" value="*.ai|*.bmp|*.gif|*.jp2|*.jpe|*.jpeg|*.jpg|*.mdi|*.mix|*.odg|*.png|*.ps|*.psd|*.sdr|*.tif|*.tiff" />
    <add key="Presentations" value="*.opd|*.pps|*.ppsx|*.ppt|*.pptx" />
  </FileMaskedConfig>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>